{% extends 'base.html.twig' %}

{% block title %}Politique De Confidentialité{% endblock %}

{% block body %}
</br></br>
<div class="container">

<h1 class="text-center">Politique De Confidentialité</h1>
</br>
<p class="h4">Oniric porte une attention particulière à la protection de la vie privée de ses utilisateurs, et s'engage à respecter la confidentialité des donnée collecté.
Notre potilite de confidentialité régit notre manière de récolter, stocker, utiliser et divulgué les informations de ses utilisateurs</p>
</br>
 <h2 class="font-weight-bold">Quelles sont les données personnelles qui sont concerner et comment sont elles collectées ?</h2>
 </br>
 <p class="h4"> <strong>Information utilisateur </strong>Lors de votre inscription sur le site <a href="oniric.eu">Oniric</a>, une adresse E-mail, un pseudo, et un mot de passe vous sont demander. Ces informations sont nécessaire afin de vous identifier et sont stocker dans notre base de données (ces données sont bien entendu chiffrer de manière sécurisé)   </p>
 <p class="h4"> <strong>Message "live chat"</strong> Chaque message poster sur le site <a href="oniric.eu">Oniric</a> est collecté, en concervant l'utilisateur l'ayant poster ainsi que l'heure de publication</p>
</br>
<h2 class="font-weight-bold">Qui est responsabilité du traitement de ces données</h2>
</br>
<p class="h4">L'association Oniric traite elle même les données de son site web sans les faire transité par une quelconque entité extérieur</p>
</br>
<h2 class="font-weight-bold">Base juridique de la collecte </h2>
</br>
<p class="h4">Lorem Ipsum</p>
</br>
<h2 class="font-weight-bold">Qui pourra consulté ces données <h2 class="font-weight-bold">
</br>
<p class="h4">Les données récolter par le biais du site <a href="oniric.eu">Oniric</a> ne sont accesible qu'au personnel charge de ce service au sein de l'association Oniric.
Les données stocker sont voué a rester interne a l'association Oniric </p>
</br>
<h2 class="font-weight-bold">Conservation des données</h2>
</br>
<p class="h4">Les données comme les message chat et les statitique serons automatiquement effacer au bout de 24mois maximum</p>
</br>
<p class="h4">les données utilisateur ainsi que les commentaire seront conserver indéfiniment
</br></br>
<h2 class="font-weight-bold">Les droits de l'utilisateur sur ses données</h2>
</br>
<p class="h4">Conformément au CNIL, vous posséser des droit vis a vis de vos données</p>
</br>
<p class="h4"> <strong>Droit a l'information :</strong> Vous pouvez demander compte rendu de toute les données vous concernant en notre possécion </p>

<p class="h4"> <strong>Le droit à l'accord préalable :</strong> Aucune données n'est stocker avant votre acceptations explicite </p>

<p class="h4"><strong>Le droit de rectification :</strong> Vous pouvez demander la modification de vos données</p>

<p class="h4"><strong>Le droit de supression :</strong> Vous pouvez demander la suppresion de vos données personnelles dans leur intégralité ou partiellement. Cela ne prend pas en compte les données dont le stockage est légalement obligatoire. </p>
</br>
<p class="h4">Pour chacune des demandes, vous devez adresser un mail a l'adresse electronique suivante mail@oniric.eu </p>
</div>
{% endblock %}
