{% extends 'base.html.twig' %}

{% block title %} Mentions légales
{% endblock %}

{% block body %}


	<div class="container">

		</br></br>
		<h1 class="text-center p-4">Mentions légal</h1>
		</br>
		<p class="h4">Le site <a href="https://oniric.eu">Oniric</a>  est protégé par les dispositions du Code de la propriété intellectuelle, notamment par celles de ses dispositions relatives à la propriété littéraire et artistique, aux droits d’auteur et à la protection des bases de données.</p>
		</br>
		<p class="h4">Ces droits sont la propriété exclusive de l’association Oniric. Le Code de la propriété intellectuelle n’autorise aux termes de l’article L.122-5, d’une part, que les copies ou reproductions strictement réservées à l’usage privé du copiste et non destinées à une utilisation collective et, d’autre part, que les analyses et les courtes citations dans un but d’exemple et d’illustration.</p>
		</br>
		<p class="h4">De même, l’article L.342-3 du Code de la propriété intellectuelle n’autorise que l’extraction ou la réutilisation d’une partie non substantielle du contenu d’une base de données mise à la disposition du public par son titulaire. Par conséquent, toute représentation ou reproduction non autorisée des sites de Oniric, par quelque moyen que ce soit, est strictement interdite sous peine de poursuites judiciaires. Le contrevenant s’expose à des sanctions civiles et pénales et notamment aux peines prévues aux articles L.335-2 et L.343-1 du Code de la propriété intellectuelle.</p>
		</br>
		<h2>Liens hypertextes</h2>
		</br>
		<p class="h4">Bien que nous apportions la plus grande rigueur dans la sélection des liens que nous proposons vers d’autres sites Internet, Oniric ne saurait être tenu responsable du contenu présent sur ces sites.</p>
		</br>
		<h2>Droit d’accès et de rectification des données</h2>
		</br>
		<p class="h4">Les données recueillies sur le site internet <a href="https://oniric.eu">Oniric</a> sont enregistrées dans un fichier informatisé par Onric. Elles sont destinées à notre service relation donateurs à des fins de gestion interne, d’envoi de contenu produit par l'association, pour répondre à vos demandes et vous envoyer notre newsletter. </p>
		</br>
		<p class="h4">Conformément à la Loi Informatique et Libertés et au règlement européen, vous pouvez vous opposer à leur utilisation et introduire une réclamation auprès de la CNIL.
Vous disposez d’un droit d’accès à vos données pour leur rectification, limitation, portabilité ou effacement sur simple demande par email à Oniric
Coordonnée : mail@oniric.eu</p>
		</br>
		<h2>Politique des cookies</h2>
		</br>
		<p class="h4">Ce site internet utilise des cookies. Un cookie est un fichier texte stocké par votre navigateur lors de votre visite, sous réserve de vos choix. Ces cookies permettent à Oniric de conserver des informations sur votre navigation. Ils aident ainsi à comprendre le comportement des utilisateurs du site pour rendre votre expérience et votre navigation sur le site plus agréables.</p>

		</div>
				</br>
		


{% endblock %}
