html {
    scroll-behavior: smooth;
  }
  
#messageslist {
    background-color: lightgray;
    overflow: auto;
    scroll-behavior: smooth;
}
body {
    background-color: darkgrey;
    height: 100%;
    scroll-behavior: smooth;
}
.headblog{

    height: 100%;
    display: block;
    position: relative;

    --largeurimage : calc(100vh*2.5); 
    --place : calc(-100vw + var(--largeurimage));
    --place2 : calc(var(--place)/2);
    --place3 : calc(var(--place2)*-1);
    left: var(--place3);
   
}
.headimagediv{
   
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}
.chapterImg{
     
    height:  100%;
    object-fit: cover;
    
}
.CartChapter{
    
    margin: 15px;
    width: 25rem;
    height: 15rem;
    
    overflow: hidden; 


}



#containerCarte{
    height: 80%;
    overflow-y:scroll;
    width: 100vw; 
    position: absolute;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
post-p{
    position: absolute;
    width: 100%;
    height: 100%;
}
.customcart{
    width: 100%;
    height: 100%;
}
#ChapitresBas{
    scroll-behavior: smooth;
    height: 100vh;
}
.chapitreGran{
    z-index: 2;
    top:0;
    position: absolute;
}
.cardChapter{
    position: relative;
    width: 100%;
}