{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div id="headimagediv" >
		<img id="headblog" class="img-responsive " src="img/path.jpg" alt="beautifull">
	</div>
{% endblock %}
