{% extends 'base.html.twig' %}

{% block title %}Oniric - Live
{% endblock %}

{% block body %}
	<div class="d-flex">
		<post-messages data-user="{{app.user ? app.user.id : 0 }}" class="flex-grow-1 flex-wrap"></post-messages>
		<div id="twitch-embed" class="w-75"></div>
	</div>
	<script src="https://embed.twitch.tv/embed/v1.js"></script>
	<script type="text/javascript">
		new Twitch.Embed("twitch-embed", {
width: "100%",
height: 600,
channel: "0nirique",
theme: "dark"
});
	</script>
{% endblock %}
