{% extends 'asso/index.html.twig' %}

{% block asso %}
	<div
		class="container">
		<h1>
			L'association Oniric
		</h1>
		<h2>
			Pourquoi cette Association :
		</h2>
		<p
			class="h4">
			à l'heure d'aujourd'hui, il devient difficile de rêver. Entre la course aux études et la course aux travails, le temps nous manque pour repenser nos vies et pour les faire correspondre à nos idéaux.
		</p>
		<p
			class="h4">
			Trouver des alternatives, voir au-delà de notre cercle social devient de plus en plus difficile, pourtant paradoxalement nous n'avons jamais été aussi connecté. Mais encore une fois, le temps nous manque pour réaliser que le sablier de nos vies s'écoule à une vitesse effrénée et qu'avec son sable, se désagrège nos rêves.
		</p>
		<h2>
			Comment faire :
		</h2>
		<p
			class="h4">
			Pour repenser demain, il faut réapprendre à rêver, ré accepter ce que l'on a abandonné. On dit que la première personne que l'on trahi, c'est l'enfant qu'on a été. Le but est de se réconcilier avec cette enfant.Il faut s'autoriser à repenser un avenir dont l'Homme sera fière.
		</p>
		<p
			class="h4">
			L'association Oniric souhaite soutenir des projets responsables, faisant rêver les acteurs d'aujourd'hui pour qu'ils soient éveillés dans le monde de demain.
		</p>
		<h2>
			Qu'est-ce que l'on entend par projet responsable :
		</h2>
		<p
			class="h4">
			• écologique : Le projet doit au moins ne rien infliger à l'environnement et au mieux lutter pour.
			<br>
			• Solidaire : Les projets ne peuvent pas bénéficier qu'à quelques individus isolés. Ils sont dans une dynamique générale de société plus ou moins grande.
			<br>
			• Gratuit : L'ensemble des services de l'association sont réalisé gratuitement.
		</p>
		<p
			class="h4">
			Nous portons un point d'honneur à ce que les choses soient faites du mieux possible et en connaissance de cause.
		</p>
		<h2>
			Greenwashing :
		</h2>
		<p
			class="h4">
			L'association Oniric s'engage à lutter contre le Greenwashing dans ses projets, car elle reconnaît sa toxicité. Par ailleurs, soucieuse de ce grave problème l'association souhaites, par son travail d'information (projet mapMonde), lutter contre le Greenwashing en faisant de la sensibilisation.
		</p>
		<h2>
			Une association sécurisé :
		</h2>
		<p
			class="h4">
			L'association Oniric à conscience des enjeux modernes quant à la sécurité des données et se prévient contre ces derniers.
			<br>
			• Les données de l'association sont sauvegardées dans des réseaux privées pour garantir une protection des données.
			<br>
			• Tous les échanges sont réalisés grâce à des logiciels open source, décentraliser et cryptant les données.
			<br>
			• L'association ne communique ses données avec aucun autre organisme externe. Elle porte en exergue le trafique d'information réaliser à l'insu des populations.
		</p>
		<h2>
			Reconnaissance de nos erreurs :
		</h2>
		<p
			class="h4">
			L'association dispose d'une section "Nos erreurs". Nous considérons que la première étape pour résoudre un problème est d'être transparent et de reconnaître ses erreurs. Elle est actualisées régulièrement et disponible à tout moment sur notre site. Les erreurs seront accompagnées d'un article pour expliquer comment nous l'avons commise, les/la solution(s) que nous avons trouvé ainsi que des conseils pour éviter ce type d'erreur.
		</p>
		<h2>
			Mais nous reconnaissons nos limites :
		</h2>
		<p
			class="h4">
			Pour nous améliorer nous vous invitons à nous donner conseil, l'association Oniric à conscience que la bonne volonté possèdent ses limites et qu'être à l'écoute des besoins et suggestions est le premier pas vers une amélioration rapide et efficace. L'association n'est pas parfaite, mais comme toute utopie, elle essaye d'atteindre cette perfection tout en la sachant impossible.
		</p>
		<p
			class="h4">
			<i>
				"Il faut toujours viser la lune, car même en cas d'échec tu attérie sur des étoiles."
			</i>
			<br>
			Oscar Fingal O'Flahertie Wills Wilde
		</p>
	</div>
{% endblock %}
