{% extends 'asso/index.html.twig' %}

{% block asso %}
	<div
		class="container">
		<h1>
			Nos erreurs
		</h1>
		<p>
			Vous avez ici une liste d'articles enregistrant les erreurs que nous avons commise depuis nos début.
		</p>

	</div>
{% endblock %}
