{% extends 'asso/index.html.twig' %}

{% block asso %}
	<div
		class="container">
		<h1>
			Transparence financière
		</h1>
		<p
			class="h4">
			L'association assure une transparence financière claire et accessible pour tous.
		</p>
		<p
			class="h4">
			Des graphiques actualisés en temps réel sont présent juste en dessous pour que vous ayez une vue d'ensemble, mais si vous souhaitez des informations plus détaillé, l'association s'engage à publier en format numérique tous les frais de l'association minimum une fois par an lors d'un grand bilan financier, ces derniers seront disponible en dessous des graphiques.
		</p>
		<p
			class="h4">
			Graphique 1) Dépense de l'association, camembert avec :
			<br>
			• Frais de gestion
			<br>
			• Projet
			<br>
			• frais de communication
		</p>
		<p
			class="h4">
			graphique 2) provenance de l'argent (privée, public)
		</p>
		<p
			class="h4">
			nombres d'adhérents.
		</p>
		<p
			class="h4">
			nombre de bénévole.
		</p>
	</div>
{% endblock %}
