{% extends 'asso/index.html.twig' %}

{% block asso %}
	<div
		class="container">
		<h1 class="text-center p-5">
			Philosophie
		</h1>
		<p
			class="">
			<i>
				"Les barrières sont dans nos têtes, les limites dans nos cœurs
				<br>
				Le travail est profond pour s'émanciper de l'horreur
				<br>
				Après des siècles d'aliénation
				<br>
				Après des siècles d'aberration
				<br>
				On s'est construit nos propres prisons
				<br>
				Enfermés dans les forteresses de nos égos
				<br>
				La vie ne passe plus à travers; on se sent mourir, on sort les crocs
				<br>
				On s'entretue et on s'oublie en accusant autrui
				<br>
				On brûle nos rêves de notre plein gré pour libérer nos cris"
			</i>
			Chemin de retour, Keny Arkana, 2008
			<br>
		</p>
		<p
			class="">
			Pour pouvoir agir, il faut rêver.
			<br>
			Pour pouvoir rêver, il faut comprendre.
			<br>
			Et pour pouvoir comprendre, il faut expérimenter.
		</p>
		<p
			class="">
			L'association fait le choix de se battre contre l'inaction qui est, selon elle, principalement dû à une méconnaissance des alternatives existante.
		</p>
		<p
			class="">
			En bref, connaître son passé, pour rêver de son présent et être fière de son futur.
		</p>
		<h3 class="mb-4 mt-4">
			Nous parlons beaucoup de rêver, mais rêver de quoi ?
		</h3>
		<p
			class="">
			Peu importe, ce n'est pas le rêve qui est important, c'est d'en avoir un. À l'heure d'aujourd'hui, nous n'avons plus de rêve mais des objectifs.
															Les deux sont radicalement différents bien que souvent confondu.
		</p>
		<p
			class="">
			Un rêve est une destination souvent irréalisable, mais vers lequel on souhaite tendre pour être la personne que l'on souhaite être.
												Elle est intrinsèque à chaque humain.
		</p>
		<p
			class="">
			Les objectifs sont des destinations "réalistes", ils s'intègrent dans un système et sont souvent formatés.
									Ils sont externes à chaque humain.
		</p>
		<p
			class="">
			Le problème n'est pas apparent, mais pourtant, il est fondamental. Les rêves vous amènent à des Utopies de vie et iront chercher vos souhaits profonds, tandis que les objectifs confortent des systèmes, des combats avec lesquels vous n'êtes peut-être même pas en accord.
		</p>
		<p
			class="">
			Rêver est une première étape pour se libérer de certaine chaîne que l'on nous a mise. Les rêves émancipent notre esprit.
		</p>
	</p>
</div>{% endblock %}
