{% extends 'asso/index.html.twig' %}

{% block asso %}
	<div class="container">
		<h1 class="text-center p-5">
			Les Projets
		</h1>
		<p class="mb-4 mt-4 font-weight-bold h5">
			Toutes les activités de l'association sont disponibles gratuitement sur ce site, l'objectif est de soutenir ou de mener des projets responsables.
																																																																														Si vous ne faites pas partie de l'association et que vous souhaitez greffer votre projet à cette dernière, vous pouvez nous envoyer un e-mail avec votre projet à l'adresse : mail@oniric.eu
																																																																														Votre projet fera l'objet d'une analyse et vous recevrez une réponse dans les plus bref délais.
		</p>
		<h3 class="">
			Le grand voyage :
		</h3>
		<p class="mb-4 mt-4">
			Le grand voyage est un projet mener par les créateurs de l'association, le but est de montrer que même à l'heure d'aujourd'hui, il est possible de vivre de superbe aventure digne des plus palpitantes fictions, avec rien d'autre que des jambes et une soif de découverte.
		</p>
		<p class="mb-4 mt-4">
			Ce projet se réalisera par l'intermédiaire d'un blog alimenté régulièrement par les créateurs disponible dans notre section blog.
		</p>
		<p class="mb-4 mt-4">
			Petit mot des créateurs sur l'un des objectifs de ce voyage :
		</p>
		<p class="mb-4 mt-4">
			<i>
				"L'objectif sera aussi de revenir à une forme plus sobre du voyage, le voyage n'est pour nous pas seulement une destination, c'est un parcours dont la traversé compte bien plus que l'arriver.
																																																																																												Nous avons choisis de le réaliser à pied pour des raisons d'écologie et parce que pour nous, un voyage ne se consomme pas, un voyage se vie.
																																																																																												C'est une aventure dont on ne profite parfois qu'une fois dans son existance mais qui nous émerveillera jusqu'à notre mort.
																																																																																												Le voyage est donc pour nous, long. parfois dure et fastidieux.
																																																																																												Mais aucun mot ne serait décrire avec assez de justesse, l'émotion que l'on éprouve en regardant le chemin parcouru."
			</i>
			<br>
			Créateur de l'association
		</p>
		<h3 class="">
			Interview :
		</h3>
		<p class="mb-4 mt-4">
			Le projet d'interview est une activité menez par les créateurs de l'association pour faire profiter à d'autres leur fabuleuse rencontre.
		</p>
		<p class="mb-4 mt-4">
			Les interviews peuvent concerner absolument tous les sujets et peuvent concerner des personnes venu de tous les pays du monde.
		</p>
		<p class="mb-4 mt-4">
			Elles ont pour but de donner la possibilité à des personnes plus ou moins méconnue de faire profité aux plus grands nombres leurs expériences/philosophie de vie.
		</p>
		<h3 class="">
			Carte du monde : (projet à venir)
		</h3>
		<p class="mb-4 mt-4">
			La carte du monde est un immense projet d'information visant à sensibilisé un maximum de personne sur ce qui se passe dans les pays étrangers. L'information grand public n'étant pas toujours de qualité en France concernant les pays étrangers, le but est d'avoir une base de donnée intuitive, interactive et ludique.
		</p>
		<p class="mb-4 mt-4">
			La carte du monde peut être actualisée par n'importe qu'elle utilisateur du site internet ayant préalablement fourni au minimum une source. De plus, les données sont vérifiées par d'autres utilisateurs sélectionnés aléatoirement pour une participation et une fiabilité optimale quant à nos bases de donnée.
		</p>
		<p class="mb-4 mt-4">
			À terme, l'objectif serait de pouvoir exploiter cette base de donnée et de créer des jeux intuitif et amusant pour facilité l'apprentissage des enjeux internationaux.
		</p>
		<h3 class="">
			Bayer de Fond : (à venir)
		</h3>
		<p class="mb-4 mt-4">
			L'association souhaite également soutenir d'autres projets en mettant à disposition son réseau de bénévoles, son matériel ainsi que ses ressources financières lorsque cela est possible.
		</p>
		<h3 class="">
			Les fictions :
		</h3>
		<p class="mb-4 mt-4">
			Les Fictions sont des oeuvres publier sur le site Oniric, certaine sont créé par l'association elle-même, tandis que d'autres sont hébergé.
		</p>
		<p class="mb-4 mt-4">
			Les fictions peuvent correspondre à tout type de format, pourvu que l'oeuvre est pour but de questionner et qu'elle soit gratuite.
		</p>
		<p class="mb-4 mt-4">
			Les fictions disponible ou prévu sont :
		</p>
		<h3 class="">
			Dans l'ombre d'une époque : (à venir)
		</h3>
		<p class="mb-4 mt-4">
			"Dans l'ombre d'une époque" est une création Original de l'association Oniric, elle est réalisée par les créateurs de l'association pendant leur projet "Grand Voyage" (voir projet grand voyage).
		</p>
		<p class="mb-4 mt-4">
			Le principe est d'exploiter les paysages, rencontres et expérience de leur voyage pour en tirer une oeuvre fictive se réalisant en parallèle de la vie des créateurs.
		</p>
		<p class="mb-4 mt-4">
			L'objectif de l'oeuvre est de requestionner nos modèles de vie, mieux les comprendre et voir ce qu'il se fait ailleurs pour enfin réapprendre à pensée de manière indépendante.
		</p>
	</div>
{% endblock %}
