<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="uO9HIoaO26eYMPXIAKDPPTVcNXAo-GmsZibr1TVgxSc" />
		<title>
			{% block title %}
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{encore_entry_link_tags('app')}}
		{% endblock %}

	</head>
	<!-- CSS only -->
	<link
	rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175357873-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-175357873-1');
	</script>

	<body>
		<nav class="navbar navbar-expand navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav mr-auto">
						<a class="nav-item nav-link my-2" href="/blog">Nous</a>
					<a class="nav-item nav-link my-2" href="/blog">Blog</a>
					<a class="nav-item nav-link my-2" href="/interview">Interview</a>
					<a class="nav-item nav-link my-2" href="/live">Live</a>
					<a class="nav-item nav-link my-2 " href="/BD">Projet BD</a>
				</div>
				<div class="navbar-nav">
					{% if app.user %}
						<a class="nav-item nav-link" href="#">{{app.user.username}}</a>
						<a class="nav-item nav-link" href="/logout">logout</a>
					{% else %}
						<a class="nav-item nav-link" href="/login">Login</a>
						<a class="nav-item nav-link my-2 my-lg-0" href="/register">Register</a>
					{% endif %}

				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}
		<footer class="text-muted bg-dark" id="footer">
			<div class="container pt-5 ">
				<div class="row">
					<div class="col-sm">
						<h4>Qui sommes nous ?</h4>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<div class="col-sm">
						<h4>Pourquoi ce blog ?</h4>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<div class="col-sm">
						Image d'illustration, qui au click méne en haut
					</div>
				</div>


			</div>
			<div class="text-center pt-4 py-md-5 pt-md-5 border-top">Copyright © 2020 NOM a trouver Tous droits réservés
				<a class="badge badge-light" href="/Mentions">mentions légales</a>
				<a class="badge badge-light" href="confi">Politique de confidentialité</a>
			</div>

		</footer>
		{% block javascripts %}
			{{encore_entry_script_tags('app')}}
		{% endblock %}
	</body>
</html></body></html>
